name: CI/CD Pipeline
on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - name: Set up Go
      with:
        go-version: 1.23
    - name: Download dependencies
      run: go mod download
    - name: Build
      run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - name: Set up Go
      with:
        go-version: 1.23
    - name: Run tests
      run: go test -v ./...